:root {
  --text: #7A9057;
  --text-h: #7A9057;
  --bg: #FFF5E8;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Josefin Sans',system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}



body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1 { font-family: 'DynaPuff'; }
h2 {
    font-family: 'Josefin Sans', Times, serif;
    color: #3f322fe8;
}
p {
    font-family: 'Josefin Sans', Arial, serif;
}
h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

nav {
  margin:-1px;
  padding: 10px;
  
}
.card{
  width: 60%;
  max-width: 750px;
  height: auto;
  min-height: 300px;
  background-color:#F7E7A8;
  border: 2px solid #3F322F;;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #00000022;
  padding: 20px 20px;
  margin: 10px;
  text-align: center;
  box-sizing:border-box;/*so border is not included in size*/
  display: inline-flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  vertical-align: top;
  gap:20px;
  transition: transform 0.3s ease;
  /*controls transition over 0.3s*/
}

.card .cardImg{
  max-width: 45%;
  max-height: 50%;
  height: auto;
  margin-left: 0px;
  border-radius: 1px;
  margin-bottom: 1px;
  flex-shrink:0;
 ;
}
.card:hover{
  transform: scale(1.05);
  /*grows card by 5%*/
}

.card .card-title {
  font-family: 'Josefin Sans', sans-serif, Arial;
  margin: 0;
  color: #3F322F;
}
.card .card-text{
  font-family: 'Josefin Sans', arial, sans-serif;
  color: #84655F;
}
.card .card-content{
  border: 2px solid #3F322F;
  border-radius: 10px;
  padding: 60px 20px;
  background-color: #FEF5E8;
  margin-right: 15px;
}

@media (max-width: 900px) {
  .card {
    padding: 25px 0;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 0;
    min-width: 80%;
    gap: 5px;
  }

  .card .cardImg {
    max-width: 50%;
  }

  .card .card-content {
    box-sizing: border-box;
    margin: 0;
    align-self: center;
    width: 90%;
    padding: 20%;
    margin-right: 0;
    padding: 25px 20px;
  }
}


.pfp{
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  border: 2px solid #83655F;
}

.Layout-content {
  text-align: left;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap:30px;
}
.Layout-content .Img{
  border-radius: 50%;
  max-width: 270px;
  max-height: 270px;
  gap: 30px;
  border: 2px solid #83655F;
  transition: 0.3s ease;
}

.Layout-content .Img:hover{
  transform: scale(1.15);
}


@media (max-width:700px){
.Layout-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}

}

hr {
  border: none;
  height: 3px;
  width: 70%;
  background-color: #D76050;
  border-radius: 2px;
}
.btn{
  background-color: #D76050;
  font-family: 'Josefin Sans',Arial, Helvetica, sans-serif;
  padding:20px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s ease;
  border: 2px solid #3F322F;
}

.btn:hover{
  transform: scale(1.09);
}

.resumeBtn{
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #FEF5E8;
  font-size: 20px;
  padding: 20px;
  font-family: 'Josefin Sans',Arial;
  transition: 0.3s ease;
  border: 2px solid #3F322F;
  max-height: 10%;
  background-color: #7A9057;
  border-radius: 20px;
  margin: 20px 0 60px;
}

.resumeBtn:hover{
  transform: scale(1.09);
}
.contact-form{

  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 700px;
  width:60%;
  background-color: #F7E7A8;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #3F322F;
  text-align: center;
  margin: 0 auto;/*centers the box*/
  gap: 5px;
  text-align: left;
}
.contact-form h2{
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  color: #3F322F;
  font-family: 'Josefin Sans',Arial;
  background-color: #f4f3ec;
  border:2px solid #3F322F;
  border-radius: 20px;
  padding: 10px;

}

.contact-page a{
  display: inline-block;
  text-decoration: none;
  color: #D76050;
  transition: 0.3s ease;
}
.contact-page a:hover{
  transform: scale(1.09);
}
header img{
  max-height: 30px;
  width: auto;
}