nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav ul li a{

    text-decoration: none;
    font-weight: 500;
    color: #7A9057;
    transition: transform 0.3s ease;
}
nav ul li a:hover{
    color: #617541;
    font-family: 'DynaPuff';
    transform: scale(1.05);
}
h1{
    font-family: 'DynaPuff';
}
h2 {
    font-family: 'Josefin Sans','Times New Roman', Times, serif;
}
.highlight-word {
    color:#384c17;
}